/* body, html {
    height: 100%;
} */

body {
    font-family: 'Noto Sans', sans-serif;    
    background-color: rgba(62, 99, 136, 0.753);    
    background-repeat: no-repeat;
    color: rgba(106, 135, 173, 0.986);   
    padding-top: 90px;
    
}

.navbar-custom {     
    background-color: rgb(33, 40, 53);     
} 

hr {
    border: 2px solid rgba(17, 40, 88, 0.733);
    border-radius: 5px;
}

.img-fluid {
    height: auto; 
    max-width: 100%;
    vertical-align: top;
    width: 300px;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: solid black 1px;
    /* padding: 2px; */
}
.container {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 100%;
  }

.card {
    background-color: #ffffff;
    font-size: 12px;
}
.card-title{
    font-size: 25px;
}
.card-text {
    font-size: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    p {
        font-size: 16px;
        text-align: left;
  } 
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    p {
        font-size: 18px;
        text-align: left;
  } 
  }
  
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    p {
        font-size: 20px;
        text-align: left;
  } 
}
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    p {
        font-size: 24px;
        text-align: left;
  } 
}
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    p {
        font-size: 28px;
        text-align: justify;
  }
}

@media only screen and (max-width: 600px) {
    p {
      font-size: 18px;
      text-align: left;
      
    }
  }
  
footer {    
    height: 60px;
    margin-top: 75px;
    clear: both;
    background-color: rgb(33, 40, 53);
    position: relative;    
    text-align: center;    
}